.users-list
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.users-list img
{
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.users-list a
{
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
}
